{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME TO THE MEMORIES</title>
    
</head>
<body>
    
    {%if user.is_authenticated %}
    <a href="/accounts/register">create account</a>
    <a href="/accounts/logout">Logout</a>
    {% else %} 
    <a href="/accounts/login">Login</a>
    {% endif %}
    <p> HI FRIENDS</p>
   <h1>Welcome {{user.username}} to memory</h1> 
   {% for m in all_memo %}
   <img src="/{{m.image}}">
   
   <p>{{m.caption}}</p>
   <p>{{m.date}}</p>
   {% endfor %}
</body>
</html>